*{
    box-sizing:border-box;
    padding: 0;
    margin:0;

}
body{
    background: blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 100px;
}


header{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    color: #fff;
    background-color: #8275b1;
    border-radius: 5px;

}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 52px;
    text-align: canter;
    color: #fff;
}

.albums{
    position: relative;
    background-color: #675c9c;
    box-shadow: 6px 8px 10px 4px #090e13;
    border-radius: 3px;
    padding: 30px;
    margin: 50px 0;
    display: flex;
    width: 80vw;
    max-width: 800px;
}

.albums .img-album{
    position: absolute;
    top: -36px;
    left: 372px;
    width: 58px;
    height: 57px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 10px;

}



.albums .img-album img{
    width:50px;
    height: 50px;
    border-radius: 50%;
}

.loader{
    margin-left: 60px;
   
    border: 3px solid #f3f3f3;
    border-top:3px solid #3498db;
    border-radius: 50%;
    width:30px;
    height:30px;
    animation: spin .4s linear infinite;

}

.loader.show{
    opacity:1;

}
.circle{
   
    flex-direction: column;
    justify-content: center;
}

@keyframes spin{
    0% {
        transform: rotate(0deg);}
    100%{
        transform: rotate(360deg);
    }
}
